.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(191, 201, 201);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
  padding: 10px;
  border-radius: 5px;
}

.payment__details,
.payment__items,
.payment__address {
  flex: 0.8;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.payment__details > form {
  display: flex;
  flex-direction: column;
}

.payment__priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.payment__priceContainer > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 2px;
  width: 30%;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.payment__priceContainer > button:hover {
  transform: scale(1.02);
}
